.transparent-header {
    background-color: royalblue !important;
}

@media (max-width: 992px) {
    .menu {
        padding: 2rem 0;
    }
}
@media (min-width: 993px) {
    .menu {
        padding-top: 7rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 992px) {
    .first-section {
        padding: 3rem 0;
    }
}
@media (min-width: 993px) {
    .first-section {
        padding-top: 7rem;
        padding-bottom: 3rem;
    }
}
